<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>TCOOP</title>
</head>
<body>
    <div>
        <h3>마이페이지</h3>
        <div>
            <a href="/planners/list">My Planners</a>
        </div>
        <br></br>
        <div>
            <a href="/planners/create">Create Planner</a>
        </div>
    </div>
</body>
</html>